<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
        <File name="File" fileName="./log/MonsterClash.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <RollingFile name="RollingFile" fileName="./log/MonsterClash-rolling.log"
                     filePattern="./log/MonsterClash-rolling-%d{yyMMddHHmm}.log" append="true">
            <PatternLayout>
                <Pattern>%d{MM-dd HH:mm:ss} %m%n</Pattern>
                <!--<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
        </Root>
        <Logger name="toFile" level="info">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>